input {
  text-align: center;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  outline: none;
  line-height: 1;
  color: #283048;
  width: 200px; }
  input[disabled] {
    opacity: 0.5;
    pointer-events: none; }
  input::placeholder {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3); }
