input {
  text-align: center;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  outline: none;
  color: #283048; }
  input::placeholder {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3); }
