@import '../../_variables';

$searchShadow: 0 0 15px rgba(black, 0.1);

.search {
  text-align: center;
  margin-bottom: 20px;

  .search-icon {
    position: relative;
    right: 20px;
    color: rgba(black, 0.3);
  }

  input {
    text-align: center;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: $searchShadow;
    outline: none;
    color: $primaryColor;

    &::placeholder {
      font-size: $fontSize;
      color: rgba(black, 0.3);
    }
  }
}