button {
  background: #283048;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 20px;
  cursor: pointer;
  outline: none;
  transition: background 300ms; }
  button:hover {
    background: #3a4669; }
  button[disabled] {
    opacity: 0.3;
    pointer-events: none; }
