@import '_variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: $defautBrowserFont;
  font-size: $fontSize;
  background: #eee;
  color: $primaryColor;
}

#root {
  max-width: 1200px;
  margin: 20px auto;
}